@tailwind components;
@tailwind utilities;

:root {
    --color-main: hsl(109, 40%, 50%);
    --global-header-bg: var(--color-main);
}

@layer utilities {
    .bg-global-header {
        background-color: var(--color-main);
    }

    .max-w-8p {
        max-width: 80%;
    }
}

body {
    @apply text-gray-700;
    background-color: hsl(109, 6%, 95%);
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
        'Hiragino Sans', Meiryo, sans-serif;
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

p,
ul {
    line-height: 1.8;
}
