@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-green-gray {
        background-color: hsl(109, 6%, 95%);
    }

    .max-w-8p {
        max-width: 80%;
    }
}

body {
    @apply bg-green-gray text-gray-700;
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
        'Hiragino Sans', Meiryo, sans-serif;
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

p,
ul {
    line-height: 1.8;
}
